    {% for campaign in campaigns %}
        <div class="container campaign mt-5 mb-5">
            <div class="row">
                <div class="img-wrapper  col-lg-6  col-12 m-0 p-0">
                    <img src="{{ campaign.picture.thumb(600,auto)}}" >
                </div>

                <div class="col-lg-6 col-12 m-0 p-0">
                    <div class="align-baseline campaign-details d-flex flex-column justify-content-between p-2 p-lg-5">
                        <p class="date text-center mt-md-2">{{  campaign.getExpireDate() }}</p>
                        <p class="title text-center">{{ campaign.name }}</p>
                        {% partial "campaign" campaign=campaign %}
                        <div class="details mt-2 mt-md-4">
                            <p class="text-center">
                                <a href="{{ campaign.urlToCampaign() }}" class="detail-btn btn rounded-pill" >detalii</a>
                                <a href="/doneaza" class="btn"><img  src="{{'/assets/images/doneaza_btn.svg'|theme}}" width="40"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}