<div class="container">
    <div class="row">
        <div class="oval col-12 col-lg-4 ">
            <a class="btn d-md-block justify-content-start align-items-center d-flex" href="/card" target="_blank">
                <div class="icon-oval"><img src="{{'assets/images/mobi-pay.png'|theme}}"  class="fr-fil fr-dib"></div>
                <span class="oval-text">Card</span>
            </a>
        </div>
       <div class="oval col-12 col-lg-4 ">
            <a class="btn d-md-block justify-content-start align-items-center d-flex" href="https://www.paypal.com/donate/?business=fundatia%40zurli.ro&amp;no_recurring=0&amp;currency_code=EUR&amp;Z3JncnB0="
                target="_blank">
                <div class="icon-oval"><img src="{{ 'assets/images/paypal-logo.png'|theme}}" class="fr-fil fr-dib"></div>
                <span class="oval-text">Paypall</span>
            </a>
        </div>

        <div class="oval col-12 col-lg-4 ">
            <a class="btn d-md-block justify-content-start align-items-center d-flex" href="https://nouageneratie.galantom.ro/fundraising_pages/view?id=21264" target="_blank">
                <div class="icon-oval"><img src="{{'assets/images/galantom-logo.png'|theme}}"  class="fr-fil fr-dib"></div>
                <span class="oval-text">Galantom</span>
            </a>
        </div>
      
    </div>
    <div class="row justify-content-center">
        <div class="oval col-12 col-lg-4 ">
            <a class="btn d-md-block justify-content-start align-items-center d-flex" href="/transfer-bancar">
                <div class="icon-oval"><img src="{{'assets/images/transfer-bancar-logo.png'|theme}}"  class="fr-fil fr-dib"></div>
                <span class="oval-text" style="white-space:nowrap;">Transfer bancar</span>
            </a>
        </div>
        <div class="oval col-12 col-lg-4  ">
            <a class="btn d-md-block justify-content-start align-items-center d-flex" href="/sponsorizari">
                <div class="icon-oval"><img src="{{'assets/images/sponsorizari.png'|theme}}"  class="fr-fil fr-dib"></div>
                <span class="oval-text">Sponsorizari 20%</span>
            </a>
        </div>
        <div class="oval col-12 col-lg-4  ">
            <a class="btn d-md-block justify-content-start align-items-center d-flex" href="/formular">
                <div class="icon-oval"><img src="{{'assets/images/formular-logo.png'|theme}}"  class="fr-fil fr-dib"></div>
                <span class="oval-text">Redirectioneaza 3.5</span>
            </a>
        </div>
    </div>
</div>