<div class="top-bar pt-2 pb-2 container-flex">
            <div class="container">
                <div class="row wrapper-overflow d-flex">
                    <div class="col-md-4 col-sm-0  overflow-item d-flex justify-content-center justify-content-md-between ">
                        <span>fundatia@zurli.ro</span>
                    </div>
                    
                    <div class="col-md-4  col-sm-0 overflow-item d-flex justify-content-center">
                        <span>Luni-Vineri: 09:00 - 18:00</span>
                    </div>
                    <div class="col-md-4 col-sm-0 overflow-item d-flex  justify-content-center justify-content-md-end">
                        <a href="https://www.facebook.com/FundatiaZurli" class="pe-3"><img src="{{'/assets/images/fb_icon_small.svg'|theme}}"></a>
                        <a href="#" class="pe-3"><img src="{{'/assets/images/linkedin_icon_small.svg'|theme}}"></a>
                        <a href="https://wa.me/40741530408?text=Salutare%21%20Vreau%20sa%20aflu%20mai%20multe%20despre%20campaniile%20voastre" class="pe-3">
                            <img src="{{'/assets/images/wa_icon_small.svg'|theme}}"></a>
                    </div>
                </div>               
            </div>
        </div>