/*
===========================================================================================================================
==========================================================  C U S T O M . C S S  ==========================================
===========================================================================================================================
*/
.navbar-brand{
    width: 12vh;
    position: absolute;
    left: 47%;
    top: 14px;
    z-index: 1;
}
