description = "Footer"

[staticMenu]
code = "footer-main-menu"

[staticMenu staticMenu2]
code = "footermenu"
==
<div class="container">
   <div class="row section">
      <div class="footer-widget col-md-3 col-xs-12" data-aos="fade-up" data-aos-delay="100">
         <h3 class="small-title">ABOUT US</h3>
         <p>Etiam ornare condimentum massa et scelerisque. Mauris nibh ipsum, laoreet at venenatis ac, rutrum sed risus,<br>Aliquam magna nibh, mattis a urna nec. Semper venenatis magna.</p>
         <div class="social-footer">
            {% for fields in this.theme.social_media %}
            <a href="{{ fields.social_media_url }}"><i class="{{ fields.social_media_icon }} icon-round" aria-hidden="true"></i></a>
            {% endfor %}
         </div>
      </div>
      <div class="footer-widget col-md-3 col-xs-12" data-aos="fade-up" data-aos-delay="200">
         <h3 class="small-title">MENU</h3>
         {% import _self as nav %}
         {% macro render_menu(items) %}
         {% import _self as nav %}
         {% for item in items if not item.viewBag.isHidden %}
         {% if item.items %}
         <li role="presentation" class="nav-item dropdown {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'active' }} {{ item.viewBag.cssClass }}">
            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ item.title }}</a>
            <ul class="dropdown-menu">
               {{ nav.render_menu(item.items) }}
            </ul>
         </li>
         {% else %}
         <li role="presentation" class="nav-item {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'active' }} {{ item.viewBag.cssClass }}">
            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link">{{ item.title }}</a>
         </li>
         {% endif %}
         {% endfor %}
         {% endmacro %}
         {% if staticMenu.menuItems %}
         <ul class="nav flex-column">
            {{ nav.render_menu(staticMenu.menuItems) }}
         </ul>
         {% endif %}
      </div>
      <div class="footer-widget col-md-3 col-xs-12" data-aos="fade-up" data-aos-delay="500">
         <h3 class="small-title">GALLERY</h3>
         <div class="plain-flicker-gallery">
            {% for fields in this.theme.gallery_images %}
            {% if fields.gallery_image %}
            <a href="{{ fields.gallery_image|media }}" title="{{ fields.gallery_title }}"><img src="{{ fields.gallery_image|media }}" alt="{{ fields.gallery_title }}"></a>
            {% else %}
            <a href="{{ 'assets/images/img/180x122.png'|theme }}" title=""><img src="{{ 'assets/images/img/180x122.png'|theme }}" alt=""></a>
            {% endif %}
            {% endfor %}
         </div>
      </div>
      <div class="footer-widget col-md-3 col-xs-12" data-aos="fade-up" data-aos-delay="800">
         <h3 class="small-title">SUBSCRIBE US</h3>
         <div class="contact-us">
            <p>Subscribe to our news letter to get regular update and blog posts.</p>
            <div id="{{ mailSignup.id }}container">
               <form
                  data-request="{{ mailSignup }}::onSignup"
                  data-request-update="'{{ mailSignup }}::result': '#{{ mailSignup.id }}container'" class="form-group">
                  <div class="form-group">
                     <input name="email" type="text" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
                  </div>
                  <button type="submit" class="btn btn-common">Submit</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="copyright">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-sm-6">
            <p class="copyright-text">© {{ "now"|date("Y") }} {{ this.theme.site_name }}. All right reserved.</p>
         </div>
         <div class="col-md-6 col-sm-6">
            {% import _self as nav %}
            {% macro render_menu(items) %}
            {% import _self as nav %}
            {% for item in items if not item.viewBag.isHidden %}
            {% if item.items %}
            <li role="presentation" class="nav-item dropdown {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'active' }} {{ item.viewBag.cssClass }}">
               <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ item.title }}</a>
               <ul class="dropdown-menu">
                  {{ nav.render_menu(item.items) }}
               </ul>
            </li>
            {% else %}
            <li role="presentation" class="nav-item {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'active' }} {{ item.viewBag.cssClass }}">
               <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link">{{ item.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endmacro %}
            {% if staticMenu2.menuItems %}
            <ul class="nav nav-inline  justify-content-end ">
               {{ nav.render_menu(staticMenu2.menuItems) }}
            </ul>
            {% endif %}
         </div>
      </div>
   </div>
</div>