description = "Default Layout"

[session]
security = "all"

[contactForm]
loadJS = 1

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "search-results.htm"

[mailSignup]

[localePicker]
forceUrl = 0
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
    <head>
        {% partial "site/meta" %}
        {% partial "site/css" %}
    </head><!--/#head-->
    <body class="page-{{ this.page.id }} layout-{{ this.page.layout }}">
        <div class="top-bar">
            <div class="container">
                <div id="top-bar-content">
                    <span>info@fundatiazurli.ro</span>
                    <span>Luni - Viner:08.00 - 17.00</span>
                    <div class="social-media-top">
                        <span>f</span>
                        <span>in</span>
                        <span>ws</span>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="main-wrapper" style="overflow-x:hidden;">
            
            <header id="header-wrap">
                {% partial "site/top" %}
                {% partial "site/nav" %}
            </header><!--/#header-->
        
            <!-- Analytics -->
            {{ this.theme.google_analytics|raw }}
        
            <!--Page header-->
            {% partial "site/fundatie/page-header-section" %}
            
            {% page %}
        
            <!--Blog partials-->
    
            <footer id="footer">
            	{% partial "site/footer" %}
            </footer><!--/#footer-->
        
            <!-- Scroll to top -->
            {% partial "site/scrolltop" %}
        
        </div>
    
        <!-- Scripts -->
        {% partial "site/scripts" %}

</body><!--/#body-->
</html>